@model SidebarModel?
@{
    ViewData["Title"] = "_sidebar";
}

<div id="sidebar-nav">
    <ul id="dashboard-menu" class="pt-16">
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div><a class="" data-href="https://user.go.pl/dashboard?wn=df13f4f3cabce7637defa6ebf9def707ae603754"><i class="icon-th-large"></i><span>Pulpit</span></a>
        </li>
        <li><a class="dropdown-toggle"><i class="icon-globe"></i><span>Kampanie</span></a><ul class="submenu">
        <li><a asp-action="campaning" asp-controller="Campaning" >Lista</a></li>
        <li><a data-href="https://user.go.pl/clients/all/statistics/ads?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Statystyki (RTB)</a></li>
        <li><a data-href="https://user.go.pl/clients/all/statistics/mail?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Statystyki (MAIL)</a></li>
        <li><a data-href="https://user.go.pl/clients/all/statistics/widget?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Statystyki (WIDGET)</a></li>
        <li><a data-href="https://user.go.pl/clients/all/conversions/index?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Konwersje</a></li></ul></li>
        <li><a class="dropdown-toggle"><i class="icon-question-sign"></i><span>Pomoc</span></a><ul class="submenu"><li><a data-href="https://user.go.pl/faq/894ed489-51e3-4251-86a7-bd20b986a740?wn=df13f4f3cabce7637defa6ebf9def707ae603754">FAQ</a></li><li><a data-href="https://go.pl/integrations?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Integracje</a></li><li><a data-href="https://go.pl/static/Konfiguracja%20kampanii.pdf?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Instrukcja</a></li><li><a data-href="https://go.pl/knowledge?wn=df13f4f3cabce7637defa6ebf9def707ae603754">Baza wiedzy</a></li></ul></li>
        @foreach(var c in Model?.campaningList ?? new List<Campaning>())
        {
            <li>
                <a class="dropdown-toggle"><i class="icon-globe"></i><span>@(c.name)</span></a>
                <ul class="submenu">
                    <li>
                        <a data-href="#">Podgląd</a>
                    </li>
                    <li>
                        <a data-href="#">Feedy</a>
                    </li>
                    <li>
                        <a data-href="#">Produkty</a>
                    </li>
                    <li>
                        <a data-href="#">Kody</a>
                    </li>
                    <li>
                        <a data-href="#">Listy</a>
                    </li>
                    <li>
                        <a data-href="#">Reklamy</a>
                    </li>
                    <li>
                        <a data-href="#">Grupy reklam</a>
                    </li>
                    <li>
                        <a data-href="#">Statystyki (RTB)</a>
                    </li>
                    <li>
                        <a data-href="#">Statystyki (MAIL)</a>
                    </li>
                    <li>
                        <a data-href="#">Statystyki (WIDGET)</a>
                    </li>
                    <li>
                        <a data-href="#">Konwersje</a>
                    </li>
                </ul>
            </li>
        } 
    </ul>
</div>

<script>

    $("#dashboard-menu .dropdown-toggle").click(function (e) {
        e.preventDefault();
        var $item = $(this).parent();
        $item.toggleClass("active");
        if ($item.hasClass("active")) {
            $item.find(".submenu").slideDown("fast");
        } else {
            $item.find(".submenu").slideUp("fast");
        }
    });

</script>