@*
    
*@
@{
}
<section id="details d-block">

    <div class="header mx-4 my-7 d-block">
        <div class="col-md-12">
            <div class="pull-left">
                <h2>Podgląd kampanii</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-flat success" data-href="https://user.go.pl/clients/cb9086db-27fa-4dd8-8cc2-77f9ad4d111f/edit?ajax=modal&amp;modal%5Bparent%5D=6616f28141551&amp;wn=7891f488bcbd6147e547aaa9c3e29a21adf62a39"><i class="icon-edit"></i> Edytuj</button>
                <a class="btn btn-flat danger" data-confirm="Czy na pewno usunąć kampanie <strong>efortuna.pl</strong> (http://efortuna.pl/)?<br/><br/>Operacja jest <strong>nieodwracalna</strong> i wiąże się z usunięciem wszystkich danych związanych z kampanią (reklamy, grupy reklam, listy, statystyki)." data-href="https://user.go.pl/clients/cb9086db-27fa-4dd8-8cc2-77f9ad4d111f/remove?return=aHR0cHM6Ly91c2VyLmdvLnBsL2NsaWVudHMvY2I5MDg2ZGItMjdmYS00ZGQ4LThjYzItNzdmOWFkNGQxMTFmL3ZpZXc_YWpheD12aWV3XzY2MTZmMjgwY2QwZGQmd249Nzg5MWY0ODhiY2JkNjE0N2U1NDdhYWE5YzNlMjlhMjFhZGY2MmEzOSZpZD02NjE2ZjI4MTQxNTUx&amp;ajax=view_6616f280cd0dd&amp;wn=7891f488bcbd6147e547aaa9c3e29a21adf62a39"><i class="icon-trash"></i> Usuń</a>
                <button class="btn btn-flat white" data-href="https://user.go.pl/clients/cb9086db-27fa-4dd8-8cc2-77f9ad4d111f/setup?ajax=modal&amp;modal%5Bparent%5D=6616f28141551&amp;wn=7891f488bcbd6147e547aaa9c3e29a21adf62a39"><i class="icon-wrench"></i> Konfiguracja</button>
            </div>
        </div>
    </div>

    <div class="mx-4 py-10">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="first-col">
                            ID
                        </td>
                        <td>
                            3398,              cb9086db-27fa-4dd8-8cc2-77f9ad4d111f
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Nazwa
                        </td>
                        <td>
                            efortuna.pl
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            URL
                        </td>
                        <td>
                            http://efortuna.pl/
                        </td>
                        <td class="col-md-2">
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Logo
                        </td>
                        <td class="=">
                            —
                        </td>
                        <td class="=">
                        </td>
                    </tr>
                    <tr>
                    <td class="first-col">
                            Kraj
                        </td>
                        <td >
                            <div>Polska</div>
                        </td>
                        <td ">
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Waluta
                        </td>
                        <td>
                            <div>PLN (zł)</div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Status
                        </td>
                        <td >
                            <span class="label label-success">WŁĄCZONA</span>
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a class="btn-flat danger %%ermac_onoff" data-href="https://user.go.pl/clients/cb9086db-27fa-4dd8-8cc2-77f9ad4d111f/offline?ajax=view_6616f280cd0dd&amp;wn=7891f488bcbd6147e547aaa9c3e29a21adf62a39"><i class="icon-off"></i> Wyłącz</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Wydzielony budżet
                        </td>
                        <td>
                            <i>brak</i>
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <button class="btn btn-flat white" data-href="https://user.go.pl/finances/budgets/set?title=Ustawianie+bud%C5%BCetu+kampanii&amp;ub_id=PARENT&amp;cl_id=cb9086db-27fa-4dd8-8cc2-77f9ad4d111f&amp;ajax=modal&amp;modal%5Bparent%5D=6616f28141551&amp;wn=7891f488bcbd6147e547aaa9c3e29a21adf62a39"><span class="hidden-sm"><i class="icon-edit mr-1"></i>Ustaw</span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Całkowity budżet
                        </td>
                        <td >
                            53 252,00 zł<br>zużyto: 1 020,38 zł<br>pozostało: 52 231,62 zł
                        </td>
                        <td >
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Dzienny budżet
                        </td>
                        <td ">
                            3 750,00 zł
                            <br>zużyto: 269,81 zł<br>pozostało: 3 480,19 zł
                        </td>
                        <td >
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Zarobek
                        </td>
                        <td >
                            65.00%
                        </td>
                        <td >
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Powiadomienia e-mail
                        </td>
                        <td >
                            powiadomienie o zbyt niskim CPC: <span class="label label-success">TAK</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class=" first-col">
                            Google Analitics
                        </td>
                        <td >
                            utm_source = go.pl<br>
                            utm_medium = cpc<br>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-col">
                            Flagi
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>

</section>