@using UserPanel.References;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserPanel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css//TableList.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserPanel.styles.css" asp-append-version="true" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/morris.js-0.5.1/morris.css" />
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/morris.js-0.5.1/morris.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metro/4.5.7/metro.min.js" integrity="sha512-zObyD9GQUNSpnwfFgQVWv0jmLxfjhtSqEi2c6Steqzmsx8RZdKTlAJHPHH8EVFXT9QH2KT/v6nuzIMwBLVSaNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/fetch.js"></script>
</head>
<body>
    @await Component.InvokeAsync(AppReferences.ViewComponentsNames.Nav)
    <div class="w-100 h-100 min-h-screen">
        <main role="main" class="d-flex min-h-screen">
            @if (Html.isVisible(AppReferences.ViewComponentsNames.Sidebar))
            {
                <div>
                    @await Component.InvokeAsync(AppReferences.ViewComponentsNames.Sidebar);
                </div>
            }
            <div class="w-100 mt-6">
                @RenderBody()
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2024 - UserPanel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
